.profileContainer {
    min-height: 100vh;
    text-align: center;
    background: #134670;
}

.imgContainer {
    margin: 0;
    background: rgb(119,0,46);
    background: linear-gradient(180deg, rgba(119,0,46,1) 0%, rgba(238,0,0,1) 100%);
    text-align: center;
}

.imgContainer img {
    width: 200px;
    height: 200px;
    display: initial;
    border-radius: 50%;
}

.tabs li{
    background: rgba(238,0,0,1);
}

.username {
    margin-top: 10px;
    font-size: 32px;
    font-weight: normal;
    font-family: "Arial";
}

.ticketsContainer{
    margin-top: 100px;
    text-align: initial;
    text-align: center;
}

.formContainer {
    margin-top: 1rem;
    top: 1rem;
}

.form {
    margin-left: 35%;
}

