.profileContainer {
    min-height: 100vh;
    text-align: center;
}

.imgContainer {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}

.imgContainer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.username {
    margin-top: 10px;
    font-size: 32px;
    font-weight: normal;
    font-family: "Arial";
}

.ticketsContainer{
    margin-top: 100px;
    text-align: initial;
    text-align: center;
}

.formContainer {
    margin-top: 1rem;
    top: 1rem;
}

.form {
    margin-left: 35%;
}

